@font-face {
	font-family: raleway variable;
	font-style: normal;
	font-display: swap;
	font-weight: 100 900;
	src: url("../../assets/fonts/raleway-cyrillic-ext-wght-normal.woff2") format("woff2-variations");
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
	font-family: raleway variable;
	font-style: normal;
	font-display: swap;
	font-weight: 100 900;
	src: url("../../assets/fonts/raleway-cyrillic-wght-normal.woff2") format("woff2-variations");
	unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
	font-family: raleway variable;
	font-style: normal;
	font-display: swap;
	font-weight: 100 900;
	src: url("../../assets/fonts/raleway-vietnamese-wght-normal.woff2") format("woff2-variations");
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

@font-face {
	font-family: raleway variable;
	font-style: normal;
	font-display: swap;
	font-weight: 100 900;
	src: url("../../assets/fonts/raleway-latin-ext-wght-normal.woff2") format("woff2-variations");
	unicode-range: U+0100-02AF, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
	font-family: raleway variable;
	font-style: normal;
	font-display: swap;
	font-weight: 100 900;
	src: url("../../assets/fonts/raleway-latin-wght-normal.woff2") format("woff2-variations");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: raleway variable;
	font-style: italic;
	font-display: swap;
	font-weight: 100 900;
	src: url("../../assets/fonts/raleway-cyrillic-ext-wght-italic.woff2") format("woff2-variations");
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
	font-family: raleway variable;
	font-style: italic;
	font-display: swap;
	font-weight: 100 900;
	src: url("../../assets/fonts/raleway-cyrillic-wght-italic.woff2") format("woff2-variations");
	unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
	font-family: raleway variable;
	font-style: italic;
	font-display: swap;
	font-weight: 100 900;
	src: url("../../assets/fonts/raleway-vietnamese-wght-italic.woff2") format("woff2-variations");
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

@font-face {
	font-family: raleway variable;
	font-style: italic;
	font-display: swap;
	font-weight: 100 900;
	src: url("../../assets/fonts/raleway-latin-ext-wght-italic.woff2") format("woff2-variations");
	unicode-range: U+0100-02AF, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
	font-family: raleway variable;
	font-style: italic;
	font-display: swap;
	font-weight: 100 900;
	src: url("../../assets/fonts/raleway-latin-wght-italic.woff2") format("woff2-variations");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: shantell-sans variable;
	font-style: normal;
	font-display: swap;
	font-weight: 300 800;
	src: url("../../assets/fonts/shantell-sans-cyrillic-ext-wght-normal.woff2") format("woff2-variations");
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
	font-family: shantell-sans variable;
	font-style: normal;
	font-display: swap;
	font-weight: 300 800;
	src: url("../../assets/fonts/shantell-sans-cyrillic-wght-normal.woff2") format("woff2-variations");
	unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
	font-family: shantell-sans variable;
	font-style: normal;
	font-display: swap;
	font-weight: 300 800;
	src: url("../../assets/fonts/shantell-sans-vietnamese-wght-normal.woff2") format("woff2-variations");
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

@font-face {
	font-family: shantell-sans variable;
	font-style: normal;
	font-display: swap;
	font-weight: 300 800;
	src: url("../../assets/fonts/shantell-sans-latin-ext-wght-normal.woff2") format("woff2-variations");
	unicode-range: U+0100-02AF, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
	font-family: shantell-sans variable;
	font-style: normal;
	font-display: swap;
	font-weight: 300 800;
	src: url("../../assets/fonts/shantell-sans-latin-wght-normal.woff2") format("woff2-variations");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: shantell-sans variable;
	font-style: italic;
	font-display: swap;
	font-weight: 300 800;
	src: url("../../assets/fonts/shantell-sans-cyrillic-ext-wght-italic.woff2") format("woff2-variations");
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
	font-family: shantell-sans variable;
	font-style: italic;
	font-display: swap;
	font-weight: 300 800;
	src: url("../../assets/fonts/shantell-sans-cyrillic-wght-italic.woff2") format("woff2-variations");
	unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
	font-family: shantell-sans variable;
	font-style: italic;
	font-display: swap;
	font-weight: 300 800;
	src: url("../../assets/fonts/shantell-sans-vietnamese-wght-italic.woff2") format("woff2-variations");
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

@font-face {
	font-family: shantell-sans variable;
	font-style: italic;
	font-display: swap;
	font-weight: 300 800;
	src: url("../../assets/fonts/shantell-sans-latin-ext-wght-italic.woff2") format("woff2-variations");
	unicode-range: U+0100-02AF, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
	font-family: shantell-sans variable;
	font-style: italic;
	font-display: swap;
	font-weight: 300 800;
	src: url("../../assets/fonts/shantell-sans-latin-wght-italic.woff2") format("woff2-variations");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
	--font-family-main: raleway variable, system-ui, sans-serif;
	--font-family-accent: shantell-sans variable, comic sans, cursive;
}
