img {
	height: auto;
	max-width: 100%;
	object-fit: contain;
}

img[src*=".svg" i] {
	object-fit: cover;	// для хрома, не понимающего contain у вектора
}

picture,
source {
	display: contents;	// чтобы не мешались в гридах
}
