// stylelint-disable declaration-colon-space-after
:root {
	--yellow:			#ffd754;
	--yellow-hover:		#ffde76;
	--yellow-active:	#ffce2d;
	--black:			#262626;
	--black-hover:		#302f30;
	--black-active:		#0d0d0d;
	--violet:			#7831b2;
	--violet-hover:		#9259c0;
	--violet-active:	#5e288a;
	--pale-purple:		#a68ad5;
	--pink:				#e71985;
	--red:				#e71919;
	--white:			#fffcff;
	--bg-color:			#f9f4f2;
	--pop-up-window:	#f8f0ee;
	--unnamed-color-1:	#f9e2de;
	--unnamed-color-2:	#f6e7e5;
	--grey:				#e5e3e2;
	--color-main: var(--black);
	--color-accent: var(--violet);

	--font-size-main: 24px;
	--font-size-h1: 90px;
	--font-size-h2: 75px;
	--font-size-h3: 60px;
	--font-size-h4: 32px;
	--line-height-main: 25px;
	--line-height-h1: 80px;
	--line-height-h2: 1;
	--line-height-h3: 1;
	--line-height-h4: 35px;
}
