.contacts {
	&_dir {
		&_inline {
			display: flex;
			column-gap: var(--col-gap);
		}
	}

	& address {
		font-style: normal;
	}
}

.contacts__value {
	margin: 0;
	padding: 0;
}

.contacts__link {
	--icon-size: 16px;
	display: flex;
	border-radius: 1em;
	color: inherit;

	&_icon {
		&_phone {
			--icon-shape: url("#{$stack}phone");
		}

		&_whatsapp {
			--icon-shape: url("#{$stack}whatsapp");
		}
	}
}
