.link {
	text-decoration: none;

	&_is-decorated {
		text-decoration: underline;
	}

	&_has-icon {
		--has-icon: "";
	}

	&::before {
		content: var(--has-icon);
		display: block;
		block-size: var(--elem-size, var(--icon-size));
		inline-size: var(--elem-size, var(--icon-size));
		background: var(--icon-fill, currentcolor);
		mask: var(--icon-shape) no-repeat center / var(--icon-size);
	}
}
