.main-header {
	--main-header_color_bg: var(--color__bg_tmp_main-header);
	--main-header_offset: calc(var(--pg__offset-wide) + var(--pg__col-gap));
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding-block: 7px;
	line-height: normal;
	font-size: 14px;
	font-weight: 800;
	color: var(--color__text_theme_dark);
	background-color: var(--main-header_color_bg);

	&:hover { // WIP: Временно по ховеру.
		--main-header_offset: 50vw;
	}

	&::after {
		content: "";
		display: block;
		position: absolute;
		z-index: -1;
		inset-block: 0;
		inset-inline: calc(-1 * var(--main-header_offset)) 0;
		block-size: 100%;
		border-radius: 20px;
		background-color: var(--main-header_color_bg);
		box-shadow: var(--main-header_offset) 0 0 0 var(--main-header_color_bg);

		@media not (prefers-reduced-motion) {
			transition:
				inset-inline 0.3s ease-in-out,
				box-shadow 0.3s ease-in-out;
		}
	}
}

.main-header__logo {
	inline-size: max-content;
	place-self: start;
}

.main-header__list {
	margin: 0;
	padding: 0;
}

.main-header__contacts {
	font-weight: 700;
	line-height: 16px;
	margin-block: 12px;
}
