.main-footer {
	--main-footer-bg-color: var(--white);
	background-color: var(--main-footer-bg-color);
	position: relative;
	padding-block-start: 50px;

	&::after {
		content: "";
		display: block;
		position: absolute;
		z-index: -1;
		inset-inline: -100vw 0;
		block-size: 100%;
		background: var(--main-footer-bg-color);
		box-shadow: 100vw 0 0 0 var(--main-footer-bg-color);
	}
}

.main-footer__content {
	font-size: 18px;
	font-weight: 600;
	line-height: normal;
	display: grid;
	gap: var(--pg__col-gap);
	grid-template-columns:
		[logo-start contacts-start legal-start]
		var(--pg__col-size_4)
		[logo-end contacts-end legal-end nav-start social-start copyright-start]
		var(--pg__col-size_3)
		[social-end copyright-end license-start production-start]
		var(--pg__col-size_5)
		[nav-end license-end production-end];
	grid-template-areas:
		"logo      nav       nav"
		"contacts  nav       nav"
		"contacts  social    license"
		".         .         ."
		"legal     copyright production";
}

.main-footer__logo {
	grid-area: logo;
}

.main-footer__heading {
	margin-block: 11px;
	line-height: 0.9;
	font-size: 18px;
	font-style: normal;
	font-weight: 800;
	letter-spacing: 0.9px;
	text-transform: uppercase;
}

.main-footer__link {
	color: inherit;

	&[href^="tel:"] {
		font-weight: 800;
		letter-spacing: 0.9px;
	}
}

.main-footer__nav {
	grid-area: nav;
	margin-block: 34px;
	display: grid;
}

.main-footer__nav-list {
	--items-row-gap: 4px;
	display: grid;
	grid-template-columns: var(--pg__col-size_3) var(--pg__col-size_2) var(--pg__col-size_3);
	column-gap: var(--pg__col-gap);
}

.main-footer__contacts {
	grid-area: contacts;
}

.main-footer__social {
	grid-area: social;
}

.main-footer__license {
	grid-area: license;
}

.main-footer__legal {
	grid-area: legal;
}

.main-footer__copyright {
	grid-area: copyright;
}

.main-footer__production {
	grid-area: production;
}
