.nav {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	column-gap: var(--nav__item-gap, 30px);
	margin-block: var(--nav__mb, 10px);
	margin-inline: 0;
	padding: 0;
}

.nav__item {
	--padding-shift: 20px;
	margin-inline: calc(-1 * var(--padding-shift));

	&_is-decorated {
		--border-color: currentcolor;
		margin-inline: 0;
	}

	&::marker {
		color: transparent;
	}
}

.nav__link {
	display: inline-flex;
	padding-block: 8px;
	padding-inline: var(--padding-shift);
	border: 2px solid var(--border-color, transparent);
	border-radius: 50vw;
	color: var(--link-color, inherit);
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1.4px;
}
