.page {
	--pg__offset-full: 1fr;
	--pg__offset-wide: 130px;
	--pg__col-gap: 20px;
	--pg__col-count: 12;
	--pg__col-size_1: 90px;

	@for $col from 2 through 12 {
		--pg__col-size_#{$col}: calc(var(--pg__col-size_1) * #{$col} + var(--pg__col-gap) * #{$col - 1});
	}
	--pg__size-narrow: var(--pg__col-size_12);
	--pg__size-wide: calc(var(--pg__col-size_12) + 2 * (var(--pg__col-gap) + var(--pg__offset-wide)));

	min-block-size: 100%;
	display: grid;
	font-family: var(--font-family-main);
	font-size: 24px;
	line-height: normal;
	font-variant-numeric: lining-nums;
	color: var(--color__text_theme_light);
	background-color: var(--color__bg_theme_light);

	@media not (prefers-reduced-motion) {
		scroll-behavior: smooth;
	}
}

.page__body {
	margin: 0;
	min-block-size: 100%;
	display: grid;
	grid-template-rows: auto 1fr;
}

.page__centerer {
	margin-inline: auto;
	inline-size: var(--pg__size-narrow);
	display: grid;
	grid-template-columns: 1fr;
	align-content: start;
	column-gap: var(--pg__col-gap);

	&_size {
		&_narrow {
			inline-size: var(--pg__size-narrow);
		}

		&_wide {
			inline-size: var(--pg__size-wide);
		}

		&_full {
			inline-size: auto;
		}
	}
}

.page__main-nav {
	margin-block-start: 70px;
}
