.page {
	min-block-size: 100%;
	display: grid;
	font-family: var(--font-family-main);
	font-size: 24px;
	line-height: 25px;
	color: var(--color-main);
}

.page__body {
	margin: 0;
	min-block-size: 100%;
	display: grid;
	grid-template-rows: auto 1fr;
}
