{% set page = pages[0] %}
{% extends "../layouts/base.twig" %}

{% block main %}
<main class="main-content page__centerer">
	<h1>Страница не существует 😕</h1>
	<a href="{{ site.dir }}">Вернуться на главную ↩️</a>
</main>
{% endblock %}
