{% set page = pages[0] %}
{% extends "../layouts/base.twig" %}

{% block main %}
<main class="main-content page__centerer">
	{{ include("../components/heading.twig", { heading: { hidden: true } }) }}
</main>
{% endblock %}
