{% set page = pages[0] %}
{% extends "../layouts/base.twig" %}

{% block main %}
	<h1>Контент главной страницы</h1>

	{# Пример вставки picture #}
	{% include "../templates/picture.twig" with {name: "hero", class: "hero__image", alt: "Альтернативный текст."} %}

{% endblock %}
