{% set page = pages[0] %}
{% extends "../layouts/base.twig" %}

{% block main %}
<main class="main-content">
	{{ include("../components/heading.twig", { heading: { hidden: true } }) }}

	{% with {
		heading: "Исполняем мечты о свободном английском",
		image_name: "hero-main",
		image_alt: "Команда преподавателей школы.",
		image_caption: "Команда мечты"
	} %}
		{% set description %}
			<ul>
				<li><a href="javascript:undefined">Очно</a> в Москве и <a href="javascript:undefined">онлайн</a></li>
				<li>С заботой о вашем прогрессе</li>
				<li>В атмосфере дружбы и уюта</li>
			</ul>
		{% endset %}
	{{ include("../components/hero.twig") }}
	{% endwith  %}

	{% with {
		tablist_index: 1,
		tabs: [
			{
				name: "adults",
				label: "Взрослым"
			},
			{
				name: "children",
				label: "Детям"
			}
		]
	} %}
	<section class="section page__centerer page__centerer_size_wide">
		<header class="section__header">
			<h2 class="section__heading heading heading_lvl_2">Запишитесь на <span {# TODO: Выделение цветом или ссылка? #}>бесплатный</span> пробный урок</h2>
			<div class="section__description">
				На уроке вы узнаете свой уровень, оцените методику школы, познакомитесь с преподавателем
			</div>
		</header>

		{{ include("../components/tabs.twig") }}

	</section>
	{% endwith %}

	{% with {
		tablist_index: 2,
		tabs: [
			{
				name: "adults",
				label: "Взрослым"
			},
			{
				name: "children",
				label: "Детям"
			}
		]
	} %}
	<section class="section page__centerer page__centerer_size_wide">
		<header class="section__header">
			<h2 class="section__heading heading heading_lvl_2">Запишитесь на <span {# TODO: Выделение цветом или ссылка? #}>бесплатный</span> пробный урок</h2>
			<div class="section__description">
				На уроке вы узнаете свой уровень, оцените методику школы, познакомитесь с преподавателем
			</div>
		</header>

		{{ include("../components/tabs.twig") }}

	</section>
	{% endwith %}

</main>
{% endblock %}
