<!DOCTYPE html>
<html class="page fallback" lang="ru">

<head>
	{% include "../shared/head.twig" %}
</head>

<body class="page__body">
	{% include "../shared/header.twig" %}

	{% block main %}{% endblock %}

	{% include "../shared/footer.twig" %}
</body>

</html>
