<!DOCTYPE html>
<html class="page fallback" lang="ru">

<head>
	{% include "../shared/head.twig" %}
</head>

<body class="page__body">
	{% include "../shared/header.twig" %}

	<main class="main-content">
	{% block main %}{% endblock %}
	</main>

	{% include "../shared/footer.twig" %}
</body>

</html>
